---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?addressmaxResults=1&key=<Geo_Key>&location=kzx,dc&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 11 Aug 2021 15:07:25 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"kzx,dc"},"locations":[{"street":"DC
        Drive","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tyler","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"75701","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p0/4358252","unknownInput":"","type":"s","latLng":{"lat":32.30041,"lng":-95.32502},"displayLatLng":{"lat":32.30041,"lng":-95.32502}},{"street":"DC
        Drive","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Concord","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"NC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"28025","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"US/STR/p2/334665","unknownInput":"","type":"s","latLng":{"lat":35.35838,"lng":-80.55974},[...]
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?accuracy=11&api_key=<Photo_Key>&content_type=1&format=json&lat=32&lon=0&media=photos&method=flickr.photos.search&nojsoncallback=1&per_page=1&privacy_filter=1&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":5,"perpage":1,"total":5,"photo":[{"id":"14212615345","owner":"15280438@N05","secret":"8b833c709d","server":"2917","farm":3,"title":"","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Wed, 11 Aug 2021 15:07:26 GMT
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<Photo_Key>&format=json&method=flickr.profile.getProfile&nojsoncallback=1&user_id=15280438@N05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"id":"15280438@N05","nsid":"15280438@N05","join_date":"1192667314","occupation":"Custom
        Carpenter","hometown":"Rincon","showcase_set":"72157681193216956","showcase_set_title":"Profile
        Showcase","first_name":"Kevin","last_name":"DelGhingaro","profile_description":"I
        use a Iphone4 for all my pictures as well as a afew apps to edit with\n\nPretty
        much an amatuer photographer living in the best blend of photography heaven
        one could live in, Savannah Georgia.\n\nWithin a 20 mile radius i can be downtown
        Savannah shooting some of the most histroic buildings in US history. 15 miles
        away  i can be on Tybee Island along the Ocean shooting some awesome beach\/island
        shots from my kayak.","city":"Rincon","country":"USA","facebook":"","twitter":"","tumblr":"","instagram":"","pinterest":""},"stat":"ok"}'
  recorded_at: Wed, 11 Aug 2021 15:07:30 GMT
recorded_with: VCR 6.0.0
