---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?addressmaxResults=1&key=<Geo_Key>&location=laksdjfasjfoi%3Bl,co&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 17:58:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"laksdjfasjfoi;l,co"},"locations":[{"street":"[1
        - 499] L Rd, AKSDJFASJFOI L","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Silverthorne","adminArea5Type":"City","adminArea4":"Summit","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"80498","geocodeQualityCode":"B1CBX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr5560053","unknownInput":"","type":"s","latLng":{"lat":39.637559,"lng":-106.05888},"displayLatLng":{"lat":39.637559,"lng":-106.05888}},{"street":"[34400
        - 35999] County Road L","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Campo","adminArea5Type":"City","adminArea4":"Baca","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"81029","geocodeQualityCode":"B1CBX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"M","linkId":"rnr3041405","unknownInput":"","type":"s","latLng":{"lat":37.1343[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_dist=39.637559,-106.05888&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"86db9df6dccef243f6ba75b7e40afe3f"
    body:
      encoding: UTF-8
      string: '[{"id":10185,"obdb_id":"dillon-dam-brewery-dillon","name":"Dillon Dam
        Brewery","brewery_type":"brewpub","street":"100 Little Dam Street","address_2":null,"address_3":null,"city":"Dillon","state":"Colorado","county_province":null,"postal_code":"80435-4845","country":"United
        States","longitude":"-106.0603129","latitude":"39.62760465","phone":"9702627777","website_url":"http://www.dambrewery.com","updated_at":"2018-08-24T00:00:00.000Z","created_at":"2018-07-24T00:00:00.000Z"},{"id":14888,"obdb_id":"the-bakers-brewery-silverthorne","name":"The
        Bakers'' Brewery","brewery_type":"brewpub","street":"531 Silverthorne Ln","address_2":null,"address_3":null,"city":"Silverthorne","state":"Colorado","county_province":null,"postal_code":"80498","country":"United
        States","longitude":"-106.0672002","latitude":"39.62976193","phone":"9704680170","website_url":"http://www.thebakersbrewery.com","updated_at":"2018-08-24T00:00:00.000Z","create[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/weather?appid=<Weather_Key>&lat=39.637559&lon=-106.05888&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-106.0589,"lat":39.6376},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":71.49,"feels_like":69.24,"temp_min":68.13,"temp_max":78.93,"pressure":1035,"humidity":19},"visibility":10000,"wind":{"speed":5.99,"deg":338,"gust":11.99},"clouds":{"all":75},"dt":1628531903,"sys":{"type":2,"id":2004154,"country":"US","sunrise":1628511074,"sunset":1628561295},"timezone":-21600,"id":5438878,"name":"Silverthorne","cod":200}'
  recorded_at: Mon, 09 Aug 2021 17:58:23 GMT
recorded_with: VCR 6.0.0
