---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?addressmaxResults=1&key=<Geo_Key>&location=asdjfasd%3Bfasjdf%3Blak,DC&outFormat=json&thumbMaps=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 10 Aug 2021 20:46:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":false,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"asdjfasd;fasjdf;lak,DC"},"locations":[{"street":"\u0110\u01B0\u1EDDng
        \u0110inh C\u00F4ng Tr\u00E1ng","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bu\u00F4n
        Ma Thu\u1ED9t","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"\u0110\u1EAFk
        L\u1EAFk","adminArea3Type":"State","adminArea1":"VN","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"VN/STR/p0/217542","unknownInput":"","type":"s","latLng":{"lat":12.67895,"lng":108.03563},"displayLatLng":{"lat":12.67895,"lng":108.03563}},{"street":"\u0110\u01B0\u1EDDng
        Cao \u0110\u1EA1t","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bu\u00F4n
        Ma Thu\u1ED9t","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"\u0110\u1EAFk
        L\u1EAFk","adminArea3Type":"State","adminArea1":"VN","adminArea1Type":"Country","postalCode":"63108","geocodeQualityCode":"B3CCA","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"VN/STR/[...]
