---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?accuracy=11&api_key=<Photo_Key>&content_type=1&format=json&lat=33&lon=0&media=photos&method=flickr.photos.search&nojsoncallback=1&per_page=1&privacy_filter=1&sort=relevance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":133,"perpage":1,"total":133,"photo":[{"id":"47057743812","owner":"27344100@N08","secret":"238ac00808","server":"7850","farm":8,"title":"Near
        empty","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Tue, 10 Aug 2021 22:35:13 GMT
recorded_with: VCR 6.0.0
