---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest/?api_key=<Photo_Key>&format=json&method=flickr.profile.getProfile&nojsoncallback=1&user_id=49530087@N08
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"profile":{"id":"49530087@N08","nsid":"49530087@N08","join_date":"1271786675","occupation":"","hometown":"","showcase_set":"72157678692430532","showcase_set_title":"Profile
        Showcase","first_name":"The United Nations Children''s Fund","last_name":"","profile_description":"UNICEF
        works in some of the world''s toughest places, to reach the world''s most
        disadvantaged children.  To save their lives. To defend their rights. To help
        them fulfill their potential. \n \nAcross 190 countries and territories, we
        work for every child, everywhere, to build a better world for everyone. \n
        \nAnd we never give up.  \n \nUNICEF, for every child.","website":"http:\/\/www.unicef.org\/","city":"","country":"","facebook":"","twitter":"","tumblr":"","instagram":"","pinterest":""},"stat":"ok"}'
  recorded_at: Tue, 10 Aug 2021 23:28:07 GMT
recorded_with: VCR 6.0.0
