---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<Weather_Key>&exclude=alerts,minutely&lat=33.44&lon=-94.04&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1628463642,"sunrise":1628422433,"sunset":1628471382,"temp":91.94,"feels_like":100.11,"pressure":1013,"humidity":53,"dew_point":72.36,"uvi":1.03,"clouds":61,"visibility":10000,"wind_speed":8.99,"wind_deg":182,"wind_gust":11.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1628463600,"temp":91.94,"feels_like":100.11,"pressure":1013,"humidity":53,"dew_point":72.36,"uvi":1.03,"clouds":61,"visibility":10000,"wind_speed":11.41,"wind_deg":205,"wind_gust":17.58,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1628467200,"temp":91.9,"feels_like":98.89,"pressure":1013,"humidity":51,"dew_point":71.19,"uvi":0.26,"clouds":59,"visibility":10000,"wind_speed":7,"wind_deg":207,"wind_gust":13.15,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1628470800,"temp":89.8,"feels_like":95.13,"pressure":1013,"humidity":52,"dew_point":69.82,"uvi":0,"clouds":46,"visibility":10000,"wind_speed":5.48,"wind_deg":212,"wind_gust":7.07,"weather":[{"id":802,"main"[...]
