---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<Weather_Key>&exclude=alerts,minutely&lat=33.44&lon=-94.04&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.44,"lon":-94.04,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1628712136,"sunrise":1628681763,"sunset":1628730404,"temp":96.3,"feels_like":104.02,"pressure":1017,"humidity":44,"dew_point":70.83,"uvi":7.84,"clouds":40,"visibility":10000,"wind_speed":9.22,"wind_deg":180,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1628712000,"temp":96.3,"feels_like":104.02,"pressure":1017,"humidity":44,"dew_point":70.83,"uvi":7.84,"clouds":40,"visibility":10000,"wind_speed":8.48,"wind_deg":211,"wind_gust":10.4,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628715600,"temp":96.85,"feels_like":103.21,"pressure":1017,"humidity":41,"dew_point":69.26,"uvi":5.47,"clouds":36,"visibility":10000,"wind_speed":8.46,"wind_deg":207,"wind_gust":10.16,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1628719200,"temp":97.34,"feels_like":102.27,"pressure":1016,"humidity":38,"dew_point":67.48,"uvi":3.04,"clouds":31,"visibility":10000,"wind_speed":8.41,"wind_deg":205,"wind_gust":10.29,"weather":[{"[...]
